<!DOCTYPE html>
<html>
<head>
	<title>Cazton | Consulting, Training & Recruiting</title>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
	<link rel="stylesheet" href="css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.theme.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.structure.css" type="text/css" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	
	<link rel="shortcut icon" href="https://www.cazton.com/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="https://www.cazton.com/Content/images/faviconsapple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.cazton.com/Content/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://www.cazton.com/Content/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.cazton.com/Content/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://www.cazton.com/Content/images/favicons/manifest.json">
    <link rel="mask-icon" href="https://www.cazton.com/Content/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header>
    <nav>
      <ul id="nav_bar">
        <li class="nav-links" id="gmail"><a href="#">Gmail</a></li>
        <li class="nav-links"><a href="#">Images</a></li>
        <li id="sign_in"><a href="#">Sign In</a></li>
      </ul>
    </nav>
  </header>

  <!-- IMG -->
  <div class="google">
    <a href="#" id="google_logo"><img src="images/cazton.png" alt=" photo google-logo_zpspkcztsjo.png" /></a>
  </div>

  <div class="form">
    <form action="/results" method="post" class="ui-widget">
      <label for="search"></label>
      <input type="text" id="search" name="content" class="search-bar" placeholder="Search articles..." autocomplete="off" autofocus="autofocus" />
      <div class="buttons">
        <input type="submit" value="Search" id="google_search">
      </div>
    </form>
  </div>



  <!-- FOOTER -->
  <footer>
    <ul class="footer-left">
      <li><a href="#">Advertising</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">About</a></li>
    </ul>
    <ul class="footer-right">
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </footer>
  
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/autocomplete.js"></script>
</body>
</html>